.audio-transport-bar {
  padding: 0px 4px;
  background: #fff;

  &__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  &__volume {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: flex-end;
  }

  // material UI override (funky selectors)
  div &__tooltip {
    font-size: 10px;
  }
  & &__button-text {
    min-width: 20px;
  }
}
