.audio-transport-bar {
  padding: 8px 30px;
  background: #fff;

  &__actions {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    @media screen and (max-width: 600px) {
      padding: 20px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 980px) {
      button {
        padding: 5px;
      }
    }
  }

  &__volume {
    display: flex;
    align-items: end;
    flex-direction: row;
    justify-content: flex-end;
  }

  // material UI override (funky selectors)
  div &__tooltip {
    font-size: 12px;
  }

  & &__button-text {
    min-width: 40px;
  }

  @media screen and (max-width: 980px) {

    &__zoom button {
      padding: 5px;
    }
  }
}
