.time-picker {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  justify-content: space-evenly;
  width: 80px;
  margin-right: 8px;
  margin-top: 13px;
  border: 2px solid #ccc;
  padding: 8px;
  &__unit {
    width: 21px;
    border: 0;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0;
  }
}
