.timeline-scrubber {
  position: relative;
  height: 5px;
  z-index: 10;
  box-sizing: border-box;
  border-bottom: 2px solid transparent;
  border-top: 2px solid transparent;
  background: #eeeeee;
}
