.volume-slider-compact {
  width: 160px;
  position: relative;
  font-size: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &--flipped {
    flex-direction: row-reverse;
  }

  &__muter {
    margin: 0 10px;
  }
}
