.playhead {
  position: absolute;
  border-bottom: 10px solid red;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  margin-left: -5px;
  cursor: ew-resize;
  margin-top: 10px;
}