.playhead {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin-top: -2px;
  margin-bottom: -2px;
  pointer-events: none;
  overflow: visible;
  z-index: -1;
  transition: width .2s linear;
  &:after {
    transition: border .4s;
    content: '';
    height: 100%;
    border-bottom: 0px solid #424242;
    border-left: 0px solid transparent;
    border-right: 0px solid transparent;
    position: absolute;
    right: -10px;
    top: 5px;
    cursor: ew-resize;
  }
  &:hover .playhead:after {
    border-bottom: 21px solid #424242;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
}
