.App {
  font-family: sans-serif;
  text-align: center;
}
.bubbles {
  position: relative;
}

.timeline {
  position: relative;
  height: 10px;
  z-index: 10;
  background: #efefef;
}

.point-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  background: grey;
  border-radius: 50%;
  margin-left: -5px;
  z-index: 1000;
  &:hover {
    background: green;
  }
  &:first-child:hover,
  &:last-child:hover {
    background: grey;
  }
}

.btn {
  background: skyblue;
  border: 1px solid skyblue;
  color: white;
  outline: none;
  cursor: pointer;
}

.btn[disabled] {
  background: lightgrey;
  border: 1px solid lightgrey;
  color: white;
  cursor: not-allowed;
}
