.metadata {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0px;
  min-height: 400px;

  &__annotations {
    flex: 2;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
  }

  &__annotations-content {
    background: white;
    padding: 8px 16px;
    flex: 1 1 0px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__project {
    flex: 1 1 0px;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
  }

  &__project-content {
    width: 100%;
    background: white;
    padding: 8px 16px;
    display: flex;
    flex: 1 1 0px;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }

  &__content {
    padding: 0 8px;
  }

  &__markers {
    padding: 0 8px;
    height: 200px; 
    overflow-y: auto;
  }
}
