.metadata {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex: 1;
  &__annotations {
    flex: 2;
    padding-right: 8px;
    display: flex;
    flex-direction: column;
  }
  &__annotations-content {
    background: white;
    padding: 8px 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__project {
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    flex-direction: column;
  }
  &__project-content {
    width: 100%;
    background: white;
    padding: 8px 16px;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
  &__content {
    padding: 0px 8px;
  }
}
