@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

*, *:before, *:after { box-sizing: border-box; }
body, html {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #eee;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
.container { 
  max-width: 500px; 
  margin: 100px auto;
  h1 {
    color: #005cc5;
  }
  code {
    border: 1px solid #ddd;
    background: #eee;
  }
}

::-webkit-scrollbar {
  width:2px;
  height: 2px;
}

::-webkit-scrollbar-track {
  border-radius:0%;
  background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb {
  border-radius:0;
  background:rgba(0,0,0,0.2);
}

::-webkit-scrollbar-thumb:hover {
  background:rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:window-inactive {
  background:rgba(0,0,0,0.05);
}

#app {
  width: 100%;
  height: 100%;
}

.documentation {
  position: fixed;
  top: 0;
  right: 0;
  background: #000;
  color: #fff;
  border-radius: 0 0 0 3px;
  text-decoration: none;
  padding: 10px;
}
