.timeline-marker {
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  background: grey;
  border-radius: 50%;
  margin-left: -5px;
  z-index: 1000;
  &:hover {
    background: green;
  }
  &:first-child:hover,
  &:last-child:hover {
    background: grey;
  }
}
