.timeline-marker {
  position: absolute;
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 50%;
  margin-left: -5px;
  z-index: 2;
  margin-top: -5px;
  cursor: ew-resize;
  background: #000;

  &__tooltip {
    position: absolute;
    top: 11px;
    left: 0;
    margin-left: 5px;
    color: #777;
    border-radius: 2px;
    font-size: 11px;
    transform: translate(-50%, 0);
    cursor: ew-resize;
    text-shadow: -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
  }
}
